@page
@model WorldTravel.Web.Pages.Intro.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    body {
   -moz-transform: scale(0.8, 0.8);
   zoom: 0.8;
   zoom: 85%;
}
</style>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Wisa Turkey Intro</title>
    <link rel="stylesheet" href="/assets/css/intro.css">
    <link href="~/web/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="circle-container">
        <div class="circle"></div>
    </div>
    <div class="page-wrap">
        <div class="head-count-title">
            <div style="display:flex; align-items:center;">
                <img loading="lazy" src="/web/images/world-logo-long-w.png" height="50" title="Anasayfa" />
            </div>
            @*<div class="seperator"></div>*@
        </div>
        <div class="row d-none d-lg-flex" style="margin-top:100px;">
            <div class="col-sm-12 col-md-4 col-center">
                <div class="container-all-count">
                    <div class="count-cont-cell1">
                        <div class="count-container">
                            <h1 class="count" data-count="250"></h1>
                            <div id="completionMessage"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="500"></h1>
                            <div id="completionMessage2"></div>
                        </div>
                    </div>
                    <div class="count-cont-cell2">
                        <div class="count-container">
                            <h1 class="count" data-count="300"></h1>
                            <div id="completionMessage3"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="120"></h1>
                            <div id="completionMessage4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <img loading="lazy" style="display: block; -webkit-user-select: none; position: relative; right: 20px;"
                     src="/assets/images/world-light.gif">
            </div>
            <abp class="col-sm-12 col-md-4 col-center">
                <div class="container-all-count">
                    <div class="count-cont-cell3">
                        <div class="count-container">
                            <h1 class="count" data-count="700"></h1>
                            <div id="completionMessage5"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="400"></h1>
                            <div id="completionMessage6"></div>
                        </div>
                    </div>
                    <div class="count-cont-cell4">
                        <div class="count-container">
                            <h1 class="count" data-count="200"></h1>
                            <div id="completionMessage7"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="300"></h1>
                            <div id="completionMessage8"></div>
                        </div>
                    </div>

                </div>
        </div>

        <div class="completion-message" style="color:#fff;" id="redirectMessage"></div>

        <div class="row d-lg-none" style="position: relative; left: 4%;">
            <div class="col-sm-12 col-md-4">
                <img loading="lazy" style="display:block; margin:0 auto;" src="/assets/images/earth.gif">
            </div>
            <div class="col-sm-12 col-md-4 col-center">
                <div class="container-all-count">
                    <div class="count-cont-cell1" style="padding-right: 30px;">
                        <div class="count-container">
                            <h1 class="count" data-count="400"></h1>
                            <div id="completionMessage10"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="300"></h1>
                            <div id="completionMessage11"></div>
                        </div>
                    </div>
                    <div class="count-cont-cell2" style="padding-right: 30px;">
                        <div class="count-container">
                            <h1 class="count" data-count="200"></h1>
                            <div id="completionMessage12"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="300"></h1>
                            <div id="completionMessage14"></div>
                        </div>
                    </div>
                </div>
            </div>
            <abp class="col-sm-12 col-md-4 col-center">
                <div class="container-all-count">
                    <div class="count-cont-cell3" style="padding-right: 30px;">
                        <div class="count-container">
                            <h1 class="count" data-count="400"></h1>
                            <div id="completionMessage15"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="200"></h1>
                            <div id="completionMessage16"></div>
                        </div>
                    </div>
                    <div class="count-cont-cell4" style="padding-right: 30px;">
                        <div class="count-container">
                            <h1 class="count" data-count="200"></h1>
                            <div id="completionMessage17"></div>
                        </div>
                        <div class="count-container">
                            <h1 class="count" data-count="300"></h1>
                            <div id="completionMessage18"></div>
                        </div>
                    </div>

                </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>

    <script>
        initCount();

        function initCount() {
            $(".count").hide(0).fadeIn(3000);
            $('.count').each(function () {
                var $this = $(this),
                    countTo = $this.attr('data-count');
                $({ countNum: $this.text() }).animate(
                    {
                        countNum: countTo,
                    },
                    {
                        duration:6000,
                        easing: 'linear',
                        step: function () {
                            $this.text(Math.floor(this.countNum));
                        },
                        complete: function () {
                            $this.text(
                                this.countNum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                            );
                            // Counter tamamlandıktan sonra mesajı göster
                            if ($('.count:animated').length === 0) {
                                showCompletionMessage();
                                redirectAfterDelay();
                            }
                        },
                    }
                );
                function showCompletionMessage() {
                    // Eğitim Danışmanı Eklendi mesajını göster
                    $("#completionMessage").html("Emlak Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage2").html("İş Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage3").html("Eğitim Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage4").html("Sağlık Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage5").html("Vize Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage6").html("Turizm Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage7").html("Avukat Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage8").html("Göçmen Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage9").html("Yatırım Danışmanı<br><span>Eklendi</span>").fadeIn(1000);

                    $("#completionMessage10").html("Emlak Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage11").html("İş Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage12").html("Eğitim Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage13").html("Sağlık Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage14").html("Vize Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage15").html("Turizm Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage16").html("Avukat Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage17").html("Göçmen Danışmanı<br><span>Eklendi</span>").fadeIn(1000);
                    $("#completionMessage18").html("Yatırım Danışmanı<br><span>Eklendi</span>").fadeIn(1000);

                }
            });
        }

        function redirectAfterDelay() {
            setTimeout(function () {
                $("#redirectMessage")
                    .html("Şimdi siteye yönlendiriliyorsunuz<span class='dot-animation'>.</span><span class='dot-animation'>.</span><span class='dot-animation'>.</span>")
                    .fadeIn(1000);
                setTimeout(function () {
                    window.location.href = "/Home"; // Burada yönlendirilecek URL'i belirtin
                }, 3000); // 3 saniye sonra yönlendirme
            }, 2000); // 2 saniye sonra mesaj gösterimi
        }
    </script>

</body>
</html>